main {
    display: flex;
}

#error-msg {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 20px 15px;
    width: 95%;
}

#error-title {
    font-size: 45px;
}

#error-text {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#see-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#btn-see-products {
    font-size: 25px;
    text-decoration: none;
    background-color: var(--pink-color);
    color: var(--background-color);
    border: 1px solid var(--pink-color);
    padding: 10px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.361);
}

@media only screen and (min-width: 500px) {
    #error-title {
        font-size: 50px;
    }
}

@media only screen and (min-width: 575px) {
    #error-title {
        font-size: 55px;
    }
}

@media only screen and (min-device-width: 1200px) {
    #btn-see-products:hover {
        background-color: var(--background-color);
        color: var(--pink-color);
        transition: 0.2s;
    }
}