header #doces, header #doces:hover {
    background-color: var(--pink-color);
    color: var(--background-color);
    cursor: default;
}

:root {
    --product-width: 325px;
    --product-height: 275px;
    --product-gap: 75px;
}

#products {
    display: grid;
    grid-template-columns: auto;
    gap: var(--product-gap);
    width: fit-content;
    margin: 40px auto;
}

.product {
    width: calc(100vw - 25px);
    max-width: var(--product-width);
    height: var(--product-height);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    color: black;
    text-decoration: none;
}

.product .img {
    width: 100%;
    height: calc(var(--product-height) * 0.7);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}

.product .info {
    width: 95%;
    height: calc(var(--product-height) * 0.3);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.product-title {
    font-size: 25px;
    text-align: center;
    font-family: var(--font-main-subtitle);
}

.product-slogan {
    font-size: 16px;
    text-align: center;
}

@media only screen and (min-width: 800px) {
    #products {
        grid-template-columns: auto auto;
    }
}

@media only screen and (min-width: 1200px) {
    #products {
        grid-template-columns: auto auto auto;
    }
}

@media only screen and (min-device-width: 1200px) {
    .product:hover {
        box-shadow: 2.5px 2.5px 15px 1px rgba(0, 0, 0, 0.6);
        transition: 0.2s;
    }
}